.conversor {
  padding: 20px;
  max-width: 300px;
  text-align: center;
  margin: 60px auto;
  box-shadow: 2px 4px 5px -1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 2px 4px 5px -1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 2px 4px 5px -1px rgba(0, 0, 0, 0.11);
}
